<!--Contenedor-->
<mat-drawer-container class="example-container" autosize>

    <!--Sidebar-->
    <mat-drawer  #drawer class="example-sidenav" mode="over" position="start">
        <p>HOME</p>
        <button   class="boton" routerLink="users" click="showFiller = !showFiller" mat-raised-button>
            Usuarios
        </button>
        <button  routerLink="courses" click="showFiller = !showFiller" mat-raised-button>
            Cursos
        </button>
        <button routerLink="students" class="boton" click="showFiller = !showFiller" mat-raised-button>
            Alumnos
        </button>
        <button routerLink="inscriptions"  click="showFiller = !showFiller" mat-raised-button>
            Inscripciones
        </button>
    </mat-drawer>




    <!--Contenido-->
    <div class="example-sidenav-content">
        <!--Toolbar-->
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Inscripcion de Alumnos</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
            <button (click)="logout()"mat-raised-button>
            Cerrar sesion
            </button>
        </mat-toolbar>
        <!--Toolbar-->


        <!-- <app-icons></app-icons> -->
        <main style="padding: 1rem;">
            <!--<app-forms></app-forms> -->
            <!--<app-users></app-users> -->
            <router-outlet></router-outlet>
            <button (click)="showHome = !showHome" mat-raised-button>Mostrar home</button>

            <app-home *ngIf="showHome"></app-home>

        </main>


    </div>
    <!--Contenido-->

</mat-drawer-container>